Repository Pipatchies/ad-pilot: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, frontend-test

frontend-format:
  run: pnpm prettier --write "{staged_files}"
  stage_fixed: true

frontend-lint:
  run: pnpm eslint "{staged_files}" --fix
  stage_fixed: true

frontend-test:
  run: pnpm vitest related {staged_files} --run

fix: remove pnpm version in ci workflow
  .github/workflows/ci.yml
Due: none

refactor: put description props optionnal
  src/app/(user)/archived/components/archived-card.tsx
Due: frontend-format, frontend-lint, frontend-test

chore: change eslint config
  eslint.config.mjs
  lefthook.yml
Due: none

refactor: change name file to match with dev (seed to mock)
  convex/mock.ts
Due: frontend-format, frontend-lint, frontend-test

fix: remove test on lefthook and add test command on package.json
  lefthook.yml
  package.json
Due: frontend-format

fix(campaign): put subtitle optionnal in type
  src/types/campaigns.ts
Due: frontend-format, frontend-lint, frontend-test

refactor: corrige eslint warning
  convex/mutations/users.ts
  src/app/(user)/archived/[id]/_sections/spaceRecap.tsx
  src/app/(user)/campaign/[id]/digital/page.tsx
  src/app/(user)/campaign/[id]/documents/_sections/spaceDocumentsTable.tsx
  src/app/(user)/campaign/[id]/librairy/components/visuals-card.tsx
  src/app/admin/accounts/_sections/spaceAccountsHeader.tsx
  src/app/admin/campaigns/[id]/page.tsx
  src/app/admin/clients/[id]/_sections/spaceCampaignsActiveTable.tsx
  src/app/admin/documents/_sections/spaceDocumentsTable.tsx
  src/app/admin/invoices/regie/_sections/spaceVendorInvoicesTable.tsx
  src/app/admin/new-campaign/_sections/spaceBudget.tsx
  src/app/admin/new-campaign/_sections/spaceCampaignReport.tsx
  src/app/admin/new-campaign/_sections/spaceDigital.tsx
  src/app/admin/new-campaign/_sections/spaceSteps.tsx
  src/components/menu-sidebar.tsx
  src/components/modal/account-modal.tsx
  src/components/modal/delete-modal.tsx
  src/components/modal/invoices-modal.tsx
  src/components/modal/media-viewer-modal.tsx
  src/components/modal/modal.tsx
  src/components/modal/update/update-media-modal.tsx
  src/components/table/invoices-table.tsx
  src/components/topbar.tsx
Due: frontend-format, frontend-lint, frontend-test

fix: add dateSort prop to document table
  src/app/(user)/campaign/[id]/documents/_sections/spaceDocumentsTable.tsx
  src/components/table/documents-table.tsx
Due: frontend-format, frontend-lint, frontend-test

fix: add dateSort prop to document table
  src/app/admin/documents/_sections/spaceDocumentsTable.tsx
Due: frontend-format, frontend-lint, frontend-test

fix: fix eslint warning
  src/app/admin/documents/_sections/spaceDocumentsTable.tsx
  src/components/modal/invoices-modal.tsx
Due: frontend-format, frontend-lint, frontend-test

feat: add convex test
  convex/tests/invoices.test.ts
  convex/tsconfig.json
  package-lock.json
  package.json
  src/types/campaigns.ts
  tsconfig.json
Due: frontend-format, frontend-lint, frontend-test

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
  tsconfig.json
Due: frontend-format

fix: format pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: add vite
  package.json
  pnpm-lock.yaml
Due: frontend-format

feat: add vite
  pnpm-lock.yaml
Due: none

Path conditions:
  frontend-format: any of: *.{js,ts,jsx,tsx,json,css,md}
  frontend-lint: any of: *.{js,ts,jsx,tsx}
  frontend-test: any of: *.{js,ts,jsx,tsx}
